
<div *ngIf="temp">
    <h2><span jhiTranslate="tuto2App.temp.detail.title">Temp</span> {{temp.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="tuto2App.temp.name">Name</span></dt>
        <dd>
            <span>{{temp.name}}</span>
        </dd>
        <dt><span jhiTranslate="tuto2App.temp.age">Age</span></dt>
        <dd>
            <span>{{temp.age}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'temp/'+ temp.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
